*{
	font-family: Ubuntu;
margin:0;
padding:0;
	}

	@media screen and (max-width:1500px)
{
	body{
		height:100%;width:100%;background-color:#f2f2f2;
	}
	.con{
		height:auto;width:100%;background-color:white;
	}
	.contact{
		width:80%;padding-top:7%;padding-bottom:5%;height:30px;
	}

	
	.mail{
		width:50%;height:10px;padding:1%;font-size:70%;float:left;
	}
	.mobile{
		width:40%;height:10px;padding:1%;font-size:70%;float:left;
	}
	.login{
		width:80%;padding-top:0%;padding-bottom:1%;height:50px; margin-bottom :1px;padding-left:40%;
	}
	.branding{
		margin-top:1px;height:auto;width:80%;background-color:white;padding-bottom:3%;border-top:2px;
	}
	.brand{
	width:100%;background-color:white;height:30px;
	}
	.logo{
		width:90%;
  object-fit: contain;
		float:left;
	}
	
	ul{
		width:100%; height:auto;background-color:white; list-style-type: none;margin: 0; padding: 0; overflow: hidden;padding-top:20px;
	}
	li{
		  float: left;  width:18%; margin:auto;
	}
	li a{
		display: block;  text-align: center;  
  text-decoration: none;color:black;font-size:100%;
	}
	.active {
  color:#fc4111;
}
.indication{
	height:5px;
	width:50%;
border-radius:5px;
	background-color:#fc4111;
	margin-left:15%;
	display:none;
	margin-top:5px;
}
#on{
	display:block;
}
.details{
	
	padding-left:10%;
	width:100%;
	height:auto;
	background-image:url('img/banner base white.png');
	text-align:left;
	padding-right:5%;
	font-size:20px;
}
h3{
	padding-top:5%;
}
.Enrolnow{
	  background-color:#fc4111 ;
  border: none;
  color:white;
float:left;
height:40px;width:55%;
  padding: 1% 5%;
  txt-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
margin-top:50px;
  cursor: pointer;margin-bottom:50px;
}

.schef{
	

	height:150px;
	width:35%;
	
	object-fit:contain;

}
.exam{
	margin-top:25%;
height:-10px;
	width:100;
		padding-top:3%;
	background-color:black;
}

.block1{
	width:30%;
	height:50px;
	padding-left:10%;
	padding-right:0%;
	color:white;
	float:left;

	font-size:12px;
}
.block2{
width:30%;
	height:50px;
margin-bottom:0px
	font-style:bold;
		padding-left:10%;
	padding-right:10%;
	color:white;
	float:right;
}
.exam{
	margin-top:5px;
	height:150px;
	background-color:black;
}
.DSA{
	height:auto;
	width:100%;
	padding:10%;
	text-align:left;
	padding-right:20%;

}
.cinfo{
	padding:10%;
	height:auto;
	width:80%;
	background-color:white;
	text-align:left;
}
	
	.cinfo ul{
		width:100%; height:auto;background-color:white; list-style-type: none;margin: 0; padding: 0; overflow: hidden;padding-top:20px;padding-bottom:20px;
	}
.cinfo li{
		  float: left;  width:30%; margin:auto;
	}
.cinfo li a{
		display: block;  text-align: center;  
  text-decoration: none;color:black;font-size:100%;font-style:bold;
	}
	.cinfo .active {
  color:#fc4111;
}
.frp{
	width:100%;padding:1%;padding-left:10%;padding-right:10%;
}
.frpc{
	width:100%;padding:10%;padding-top:0px;
}
.courceprices{
	background-color:white;
	width:100%;
	padding:10%;
	height:auto;
}
.ig{
	"width:100%;float:left;	
	background-color:white;
	height:auto;
	padding:10%;
	padding-bottom:2px;
}
.im1{
	display:none;height:auto;background-color:white;
}
.im2{
	
	display:block;
	background-image:url('img/cp2.png');
	height:400px;;
	background-repeat:no-repeat;
	object-fit:contain;
	width:100%;
}
}