*{
	font-family: Ubuntu;
margin:0;
padding:0;
	}	

	@media screen and (min-width:600px)
{
body{
		height:100%;width:100%;background-color:#f2f2f2;
	}
	.con{
		height:auto;width:100%;background-color:white;
	}
	.contact{
		width:80%;padding-top:7%;padding-bottom:5%;height:30px;
	}

	
	.mail{
		width:50%;height:10px;padding:1%;font-size:70%;float:left;
	}
	.mobile{
		width:40%;height:10px;padding:1%;font-size:70%;float:left;
	}
	.login{
		width:80%;padding-top:0%;padding-bottom:1%;height:50px; margin-bottom :1px;padding-left:40%;
	}
	.branding{
		margin-top:1px;height:auto;width:80%;background-color:white;padding-bottom:3%;
	}
	.brand{
	width:100%;background-color:white;height:30px;
	}
	.logo{
		width:90%;
  object-fit: contain;
		float:left;
	}
	
	ul{
		width:100%; height:auto;background-color:white; list-style-type: none;margin: 0; padding: 0; overflow: hidden;padding-top:20px;
	}
	li{
		  float: left;  width:18%; margin:auto;
	}
	li a{
		display: block;  text-align: center;  
  text-decoration: none;color:black;font-size:100%;;
	}
	.active {
  color:#fc4111;
}
.indication{
	height:5px;
	width:50%;
border-radius:5px;
	background-color:#fc4111;
	margin-left:15%;
	display:none;
	margin-top:5px;
}
#on{
	display:block;
}
.details{
	
	padding:10%;
	width:100%;
	height:auto;
	background-image:url('img/banner base white.png');
	text-align:left;
	padding-right:5%;
	font-size:20px;
}
h3{
	padding-top:5%;
}
.Enrolnow{
	  background-color:#fc4111 ;
  border: none;
  color:white;
float:left;
height:40px;width:55%;
  padding: 1% 5%;
  txt-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
margin-top:50px;
  cursor: pointer;margin-bottom:50px;
}

.schef{
	margin-left:30%;
	float:bottom;
	height:30%;
	width:30%;
	object-fit:contain;
Position:absolute;right:0;
}
}