*{
	font-family: Ubuntu;
margin:0;
padding:0;
	}	

	@media screen and (min-width:600px)
{
	body{
		height:100%;width:100%;background-color:#f2f2f2;
	}
	.con{
		height:auto;width:100%;background-color:white;
	}
	.contact{
		width:40%;padding-top:7%;padding-bottom:0%;height:30px;margin:0;float:left;
	}

	.login{
		width:40%;height:50px;padding-top:50px;padding-left:80%;margin-bottom:solid #f2f2f2f 1px;
	}
	.loginb{
		 background-color: white;
	border: none;
	color: black;
	border-radius:17px;
	font-size:1px;
	
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	float:right;float:right
	cursor: pointer;float:left;
	}
	.Enrolnow{
	  background-color:#fc4111 ;
  border: none;
  color:white;
float:left;
height:50px;
width:25%;
  padding: 1%;
  txt-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
margin-top:50px;
  cursor: pointer;
  margin-bottom:0px;
}
	.branding{
		margin-top:1px;height:70px;width:100%;background-color:white;padding-bottom:0%;border-top:2px;
	}
	.brand{
	width:45%;background-color:white;height:60px;float:left;
	}
	.logo{
		
    object-fit: contain;
		padding:0px;
		
		height:60px;
		float:left;
	}
	ul{
		width:45%; height:auto;background-color:white; list-style-type: none; overflow: hidden;padding-top:20px;float:right;
	}
	li{
		  float: left;  width:18%; margin:auto;
	}
	li a{
		display: block;  text-align: center;  
  text-decoration: none;color:black;font-size:100%;
	}
	.active {
  color:#fc4111;
}	
.details{
	padding-top:50px;
	padding-left:10%;
	width:100%;
	height:auto;
	background-image:url('img/banner base white.png');
	text-align:left;
	padding-right:5%;
	font-size:20px;
}
h3{
	padding-top:5%;
}	
.L{
	width:50%;height:90px;float:left;padding:0px;padding-left:7%;
}
.lcon{
	widht:100%;
}
.up{
	height:45px;float:left;width:100%;

}
.li{
	float:left;padding:20px;
}
.Li{
	float:left;;padding:20px;
}
.payments{
	width:33%;height:90px;float:right;padding:0px;padding-right:5%;
}

}